body {
    font-family: Poppins, Roboto, -apple-system, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.hero-bg {
    background-image: url('./images/hero-shadow-bg-2.a60035d9.png');
    background-size: cover;
    background-position: center;
    opacity: 0.08;
    transform: rotate(-5deg);
    transform-origin: 18px center;
    width: 95%;
    height: 400px;
}

/* swiper */
swiper-container {
    width: 100%;
}

swiper-slide {
    text-align: left;
    background: #1d1e30;
    padding: 24px 16px;
    height: 264px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    border-radius: 16px;
    ;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: green !important;
}

.swiper-pagination-bullet-active {
    background: white !important;
}

.swiper-pagination-bullet {
    background: #1d1e30 !important;
    height: 10px;
    width: 10px;
}

/* accordion */
.icon-transition {
    transition: transform 0.3s ease-in-out;
}

.icon-rotate {
    transform: rotate(180deg);
}


/* scrollbar hide */
.overflow-y-auto {
    overflow-y: scroll;
    scrollbar-width: none;
}

.overflow-y-auto::-webkit-scrollbar {
    display: none;
}


/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    /* Initially hidden */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
    animation: fadeIn 0.3s;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}